/samples/lejos_nxj/projects/NXJPlugin/build/
/samples/lejos_nxj/projects/samples/nbproject/private/
/Mindstorm/lejos_nxj/projects/NXJPlugin/build/
/Mindstorm/lejos_nxj/projects/samples/nbproject/private/
/Mindstorm/build
/Mindstorm/lejos_nxj/
